.work {
    padding: 20px;
    margin: 48px 0;
}
.work .work-heading {
    font-size: 25px;
    color: var(--section-heading-color);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 48px;
}
.timeline {
    display: flex;
    justify-content: center;
}
.timeline ul {
    background: var(--card-bg);
    list-style: none;
    padding: 0;
    border-radius: 5px;
    width: 3px;
}
.timeline ul li .timeline-card{
    width: 500px;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: var(--card-bg);
    box-shadow: var(--card-box-shadow);
    border: 1px solid var(--card-border-color);
    transition: all ease-in-out 0.3s;
}
.timeline ul li .timeline-card:hover{
    box-shadow: var(--timeline-card-box-shadow-hover);
    transform: scale(1.03);
    cursor: pointer;
}
.timeline ul li:nth-child(odd) .timeline-card {
    margin-left: 30px;
}
.timeline ul li:nth-child(even) .timeline-card {
    margin-left: -570px;
}
.timeline ul li::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--card-bg);
    filter: invert(100%);
    margin-left: -2.5px;
}
.timeline-card .tl-heading {
    font-size: 16px;
    padding: 10px 0;
    font-weight: 500;
    color: var(--card-text-color);
    text-transform: uppercase;
}
.tc-header {
    font-size: 16px;
    text-transform: uppercase;
    color: var(--card-text-color);
    padding-bottom: 10px;
    border-bottom: 2px solid var(--card-border-color);
}
.tc-header span {
    font-size: 14px;
    color: var(--text-color);
    text-transform: none;
}
.tl-discription {
    margin-top: 8px;
}
.tl-discription .points {
    font-size: 16px;
    padding: 5px 0 5px 10px;
    position: relative;
}
.tl-discription .points .dot {
    position: absolute;
    display: block;
    width: 5px;
    height: 5px;
    background: var(--card-text-color);
    border-radius: 5px;
    top: 10px;
    left: -5px;
}
.tl-skills{
    margin-top: 8px;
}