body {
  margin: 0;
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #101010;
  color: rgb(127, 129, 136);
}
